name: Render and Deploy
on:
  push:
    branches: [main]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install Pandoc
        uses: r-lib/actions/setup-pandoc@v2

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev libssl-dev libxml2-dev

      - name: Install R packages
        run: |
          install.packages(c("rmarkdown", "knitr", "tidyverse", "matrixcalc", "vars", "zoo", "modelsummary", "quantmod", "easypackages", "conflicted", "bvartools", "MASS"))
        shell: Rscript {0}

      - name: Render R Markdown files
        run: |
          # フォルダが存在する場合のみレンダリングする設定
          Rscript -e 'rmarkdown::render("index.Rmd", output_format = "html_document")'
          Rscript -e 'if(dir.exists("bayesian-var")) rmarkdown::render("bayesian-var/index.Rmd", output_format = "html_document")'

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          publish_branch: gh-pages